<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>I ❤ JS and...</p>
<ul>
  <li>{{title}}</li>
  <li>{{title}}</li>
  <li>{{title}}</li>
  <li>{{title}}</li>
  <li>{{title}}</li>
  <li>{{title}}</li>
  <li>{{title}}</li>
  <li>{{title}}</li>
</ul>
